html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  outline: none;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', arial, sans-serif;
}

.section {
  position: relative;
  min-height: 100vh;
  margin-bottom: 10vh;
}

section.first {
    background: linear-gradient(134.47deg, #8F55A2 0%, #72368D 100%);
    height: 100%;
    overflow: hidden;
}

.strange-figure {
  position: absolute;
  height: 4.5vw;
}

.register-button {
    border: none;
    outline: none;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.strange-figure::before,
.strange-figure::after {
    content: " ";
    display: block;
    width: 99.89%;
    height: 33%;
    position: absolute;
    background-color: inherit;
}

.strange-figure::before {
    transform: skewY(3deg);
    top: -15%;
    left: 0;
}

.strange-figure::after {
    transform: skewY(-3deg);
    top: 81%;
    left: 0;
}

.register-button {
  background:  #ED2478;
  width: 20.5vw;
  font-size: calc(100vw / 80);
  line-height: 40px;
  color: #ffffff;
  background-color: #ED2478;
  position: absolute;
  right: 7.5vw;
  top: 7.5vh;
  line-height: 4.5vw;
  text-align: center;
  text-decoration: none;
}

/*.register-button._1 span {
  border-bottom: 1px dashed rgba(255,255,255,0.5)
}*/

.triangle1 {
  position: absolute;
  width: 25.5vw;
  top: 25vh;
  right: 5vw;
}

.logo {
  width: 45vw;
  height: 45vw;
  position: relative;
  left: 7.45vw;
  top: 9.5vh;
}
.logo-img {
  height: 76%;
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
  bottom: 8%;
}
.logo-circle {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: logoCircle 1s ease
}

.header-circle {
  width: 50vw;
  height: 50vw;
  left: 7.4vw;
  top: 5vh;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  animation: headerCircle 1s;
}

.header-circle-dashed {
  width: 15.5vw;
  height: 15.5vw;
  transform: scale(4);
  left: 11vw;
  top: 1vh;
  border: 0.5px dashed rgba(255,255,255,0.3);
  border-radius: 50%;
  position: absolute;
  transform-origin: 0 0;
  animation: headerCircleDashed 1s ease;
}

.header-circle-small {
    position: absolute;
    top: 42vw;
    left: 41vw;
    height: 13vw;
    width: 13vw;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    animation: headerCircleSmall 1s cubic-bezier(.32,.04,.12,1.52);
}

.header-line {
    border-top: 9px dashed #ffffff;
    position: absolute;
    width: 85vw;
    transform: rotate(-37deg) scaleY(0.3);
    transform-origin: 0 0;
    bottom: 1vh;
    left: 14vw;
    z-index: 0;
}

.header-line2 {
  border-top: 3px solid rgba(255,255,255, 0.3);
  position: absolute;
  width: 104vh;
  transform: rotate(-55deg);
  transform-origin: 0 0;
  bottom: 4vh;
  left: 30vw;
  z-index: 0;
}

.slashes {
  color: #ffffff;
  position: absolute;
  font-weight: normal;
  font-size: 38px;
  transform: scaleY(0.8);
  letter-spacing: -3px;
  top: 31vw;
  left: 46vw;
  z-index: 100;
}

.header-line-small {
  border-top: 3px solid #ffffff;
  position: absolute;
  display: block;
  width: 14vw;
  transform: rotate(-31deg);
  top: 27vh;
  left: 43vw;
  z-index: 100;
  transform-origin: 0 0;
}

.header-line-small2 {
  border-top: 3px solid #ffffff;
  position: absolute;
  display: block;
  width: 15vw;
  transform: rotate(-48deg);
  top: 21vh;
  left: 33vw;
  z-index: 0;
  transform-origin: 0 0;
}

.header-line-bold {
	position: absolute;
  top: -5.5vw;
  left: -3.2vw;
  z-index: 100;
  width: 19vw;
  animation: headerLine1 1s cubic-bezier(.32,.04,.12,1.52);
}

.header-line-bold2 {
	position: absolute;
  top: -4vh;
  left: -6.9vw;
  z-index: 0;
  width: 19vw;
  transform: rotate(-6.8deg);
  animation: headerLine2 1s cubic-bezier(.32,.04,.12,1.52);
}

.header-text {
    color: #ffffff;
    position: absolute;
    right: 10vw;
    bottom: 15vh;
    text-align: center;
}

.header-text h1 {
	color: #FFFFFF;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 6px;
  line-height: 82px;
  text-shadow: 0px 0px 34px #5b2b71;
}

.header-text p {
  font-size: 24px;
  line-height: 40px;
  margin-top: 30px;
  font-weight: lighter;
}

.brackets2 {
  top: 13vh;
  left: 51vw;
  font-size: 20px;
  font-weight: bold;
}

.brackets2::before,
.brackets2::after {
    content: "{}";
    display: block;
}

.brackets2::before {
    top: -70px;
    left: -48px;
}

.brackets2::after {
    top: -25px;
    left: 46px;
}

.brackets3 {
  top: 48vw;
  left: 47vw;
  z-index: 100;
}

.brackets3::before {
    content: "\003c  \003e";
    top: -45px;
    left: -60px;
}

.brackets3::after {
    content: "\003c  \003e";
    top: 30px;
    left: -40px;
}

.brackets,
.brackets::before,
.brackets::after,
.brackets2,
.brackets2::before,
.brackets2::after,
.brackets3,
.brackets3::before,
.brackets3::after {
  color: #ffffff;
  position: absolute;
  font-weight: bold;
}

.brackets {
  top: 26vw;
  left: 16vw;
  font-weight: bold;
  font-size: 20px;
}

.brackets::before {
    content: "/" ;
    display: block;
    width: 23px;
    height: 40px;
    top: -25px;
    left: 30px;
}

.brackets::after {
    content: "\005C";
    display: block;
    width: 23px;
    height: 40px;
    top: 40px;
    left: 0px;
}

.section-title {
  color: #FFFFFF;
  font-weight: 800;
  line-height: 4.5vw;
  width: 23vw;
  padding-left: 3vw;
  padding-top: 0.5vw;
  left: 7.45vw;
  text-transform: uppercase;
  font-size: calc(100vw / 37);
}

.section-title span {
  position: relative;
  z-index: 5
}

.section2-title {
  background: #FE54EF;
  top: 10vw;
}

.idea-triangles {
  top: 13vw;
  left: 15vw;
  position: absolute;
}

.ideas-circle-dashed {
  height: 16vw;
  width: 16vw;
  border-color: rgba(237,36,120, .3);
  left: 7.5vw;
  top: 3vw;
}

.ideas-circle-small {
  height: 14vw;
  width: 14vw;
  border: 3px solid rgba(237,36,120, 1);
  border-radius: 50%;
  left: 22.5vw;
  top: 7vw;
  position: absolute;
}

.section-text {
    position: relative;
    font-family: "Montserrat", arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
    width: 48vw;
    left: 45vw;
    text-align: left;
}

.idea-text {
  padding-top: 5vw;
}

.section-text p {
    margin-bottom: 60px;
}

.idea-text p:nth-child(2) {
    margin-bottom: 120px;
}

.section-text h2 {
  font-weight: bold;
}

.idea-line {
  border-color: rgba(118, 58, 144, .3);
  transform: rotate(46deg) scaleY(0.3);
  top: 6vh;
  left: 9.5vw;
  width: 95vw;
}

.section3-title {
  background: #8F55A2;
}

.section.third {
  padding-top: 15vw;
	min-height: auto;
}

.ttable-circle {
  border: 1px solid #FAE923;
  height: 29vw;
  width: 29vw;
  left: 25.5vw;
  top: 3vw;
  transform: scale(2);
}

.ttable-circle-dashed {
  border-color: #582C7B;
  height: 7vw;
  width: 7vw;
  left: 8.5vw;
  top: 10vw;
  transform: scale(4);
}

.ttable-text-next {
  margin-top: 60px;
}

.ttable-text h2 {
  text-transform: uppercase;
}

.ttable-slashes {
  color: #ED2478;
  font-size: 36px;
  position: absolute;
  top: 25vw;
  left: 33vw;
  transform: scaleX(1.4);
  letter-spacing: -25px;
}

.ttable-line {
  border-color: #582C7B;
  left: 10vw;
  border-color: #582C7B;
  top: 36vw;
  left: 11vw;
  width: 39vw;
}

.ttable-triangles {
  top: 25vw;
  position: absolute;
  left: 14vw;
}

.ttable-scopes {
  color: #582C7B;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  top: 33vw;
  left: 15vw;
}

.section.fourth {
  padding-top: 20vw;
  margin-top: 10vw;
  position: relative;
	min-height: 80vh
}

.partners-triangle2 {
  position: absolute;
  left: 4vw;
  top: 8vw;
}

.partners-triangle1 {
  position: absolute;
  left: 11vw;
  top: 36.6vw;
  z-index: 2;
}

.partners-circle-dashed {
  border-color: rgba(254, 84, 239, .3);
  width: 9vw;
  height: 9vw;
  top: 21vw;
  left: 8.4vw;
}

.section4-title {
  top: 25vw;
  background: #FAE923;
  color: #000;
}

.partners-line {
  border-color: rgba(237, 36, 120, 0.3);
  transform: rotate(-60deg) scaleY(0.3);
  left: 33vw;
  top: 85vw;
  width: 100vw;
  z-index: 2;
}

.partners-scopes1 {
  position: absolute;
  left: 29vw;
  top: 32vw;
  color: #FE54EF;
  font-size: 36px;
  font-weight: bold;
}

.partners-scopes2 {
  position: absolute;
  left: 33vw;
  top: 35vw;
  color: #FE54EF;
  font-size: 36px;
  font-weight: bold;
}

.partners-scopes3 {
  position: absolute;
  left: 29vw;
  top: 38vw;
  color: #FE54EF;
  font-size: 36px;
  font-weight: bold;
}

.section.fifth {
  background: linear-gradient(134.47deg, #8F55A2 0%, #72368D 100%);
  min-height: 100%;
  margin-bottom: 0;
  padding: 7vw 0 15vw;
}

.reg-scopes1 {
  font-weight: normal;
  color: #fff;
  font-size: 24px;
  left: 12vw;
  top: 19vw;
  position: absolute;
}

.reg-scopes2 {
  font-weight: normal;
  color: #fff;
  font-size: 24px;
  left: 19vw;
  top: 22vw;
  position: absolute;
}

.reg-scopes3 {
  font-weight: normal;
  color: #fff;
  font-size: 24px;
  left: 16vw;
  top: 24vw;
  position: absolute;
}

.reg-form {
  background: #582C7B;
  color: #fff;
  width: 52vw;
  position: relative;
  left: 45vw;
  padding: 2vw 7vw 7vw;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.reg-form input {
  border: none;
  background: none;
  border-bottom: 3px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  width: 100%;
  color: #fff;
  padding: .5vw 0;
}

.reg-form label {
  margin: 5vw 0;
	display: block;
}

.reg-form textarea {
  background: none;
  border: 3px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  width: 100%;
  height: 11vw;
  color: #fff;
  margin-top: 1vw;
}

.reg-ta {
  margin-top: 2vw;
}

.reg-triangles {
  position: absolute;
  top: 30vw;
  left: 10vw;
}

.section5-title {
  top: 14vw;
  position: absolute;
  font-size: 64px;
  z-index: 3
}


.reg-circle {
  border: 2px solid rgba(250, 233, 35, 0.3);
  width: 7vw;
  height: 7vw;
  top: 7vw;
  left: 8.7vw;
  z-index: 1
}

.reg-circle-dashed {
  border-color: rgba(254, 84, 239, 1);
  width: 4vw;
  height: 4vw;
  top: 23vw;
  left: 18vw;
}

.reg-line {
  transform: rotate(-38deg) scaleY(0.3);
  width: 93vw;
  bottom: 7vw;
  border: 5px solid rgba(255,255,255,.3);
}

.reg-line-small {
  border-style: dashed;
  transform: rotate(-48deg) scaleX(4);
  width: 4vw;
  left: 26vw;
  top: 14vw;
  z-index: 2
}

.reg-line-small2 {
  border-style: dashed;
  transform: rotate(-36deg) scaleX(4);
  border-color: rgba(237, 36, 120, 1);
  width: 4vw;
  left: 28vw;
  top: 19vw;
  z-index: 0;
}

.register-button._2 {
  top: auto;
  bottom: 0.1vw;
  left: 50%;
  transform: translateX(-50%);
}

.partners-gallery {
  position: absolute;
  top: 23vw;
  left: 45vw;
  width: 52vw;
  z-index: 4
}

.partners-gallery .row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 7vw;
	text-align: center;
}

.partners-gallery .row._1 div {
  width: 31.63333333%;
}

.partners-gallery .row._1 div:first-child {
  margin-left: 0;
}

.partners-gallery .row._2 div {
  width: 14.63333333%;
}

.partners-gallery .row._2 div:first-child {
  margin-left: 0;
}

.partners-gallery .row img {
  max-width: 100%;
	max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.partners-gallery .row._2 img {
	max-height: 5vw;
}

label.error input {
	border-color: red;
}

.error-text {
	color: #DC507D;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 19px;
	opacity: 0;
	visibility: hidden;
	margin-top: 10px;
}

.error .error-text {
	display: block;
	opacity: 1;
	visibility: visible;
}

.succsessful-reg {
	position: absolute;
	box-sizing: border-box;
	display: none;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 0 5vw;
	text-align: center;
	font-size: 24px;
	color: #fff;
	transform: translateY(-50%);
}

.succsessful-reg p {
	margin-bottom: 30px;
	line-height: 40px;
}

.success .succsessful-reg {
	display: block;
}

.success .reg-form-inner {
	opacity: 0;
	visibility: hidden;
}

.mobile {
	display: none;
}

@media (max-width: 1180px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile-bg {
		width: 80%;
		left: 10%;
		position: relative;
	}
	.mobile-bg.first, .mobile-bg.fifth {
		width: 100%;
		left: 0;
	}
	.mobile-bg img {
		width: 100%;
	}

	.section {
		min-height: auto;
		height: auto;
		display: table;
		width: 100%;
		margin-bottom: 0;
	}
	section.first {
		height: auto;
	}
	.register-button {
		bottom: 10vw;
    right: 10vw;
    top: auto;
    width: 80vw;
    height: 16vw;
    line-height: calc(100vw / 6);
    font-size: calc(100vw / 21);
	}

	.header-text {
		position: absolute;
		bottom: 40vw;
		width: 100%;
		left: 0;
		right: 0;
	}

	.header-text p {
		font-size: calc(100vw / 20);
		line-height: calc(100vw / 10);
		margin-top: 1vw;
	}

	.header-text h1 {
		font-size: calc(100vw / 9);
		line-height: calc(100vw / 7);
		text-shadow: none;
	}

	.section-title {
		width: 65vw;
    height: 16vw;
    left: 10vw;
    line-height: calc(100vw / 7);
    font-size: calc(100vw / 15);
    padding-left: 9vw;
    box-sizing: border-box;
		top: 10vw;
	}
	.section-title::before {
		top: -10%;
	}

	.section-title::after {
		top: 78%;
	}

	.section-text {
		position: relative;
		width: 80vw;
		left: 10vw;
		margin-top: -70vw;
    font-size: calc(100vw / 25);
    line-height: calc(100vw / 10);
	}

	.section3-title {
		top: 26vw;
	}

	.ttable-text {
		margin-top: -84vw;
	}

	.ttable-text li {
		margin-bottom: .7vw;
	}

	.ttable-text-next {
		margin-top: 10vw;
	}

	.ttable-text h2 {
		margin-bottom: 1vw;
	}

	.partners-gallery {
		width: 80vw;
		left: 10vw;
	}

	.mobile-bg.third {
		top: -20vw;
	}

	.partners-gallery {
    width: 80vw;
    left: 10vw;
    top: 55vw;
	}

	.partners-gallery .row._2 img {
		max-height: 7vw;
	}

	.section.fifth {
		padding-top: 0;
	}

	.reg-form {
		position: absolute;
    background: transparent;
    top: 40vw;
    width: 80vw;
    left: 10vw;
		padding: 0;
		font-size: 16px;
	}

	.register-button._2 {
		bottom: -22vw;
	}

	.reg-form textarea {
		height: 35vw;
		margin-top: 3vw;
	}

	.reg-form textarea, .reg-form input {
		font-size: 16px;
	}
	.reg-form input {
		padding-bottom: 10px;
	}

	.reg-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9D9D9D;
	}
	.reg-form input::-moz-placeholder { /* Firefox 19+ */
	  color:  #9D9D9D;
	}
	.reg-form input:-ms-input-placeholder { /* IE 10+ */
	  color:  #9D9D9D;
	}
	.reg-form input:-moz-placeholder { /* Firefox 18- */
	  color:  #9D9D9D;
	}

	.reg-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9D9D9D;
	}
	.reg-form textarea::-moz-placeholder { /* Firefox 19+ */
	  color:  #9D9D9D;
	}
	.reg-form textarea:-ms-input-placeholder { /* IE 10+ */
	  color:  #9D9D9D;
	}
	.reg-form textarea:-moz-placeholder { /* Firefox 18- */
	  color:  #9D9D9D;
	}

	.reg-form label {
		margin: 5vw 0;
	}

	.section-text p {
		margin-bottom: 8vw;
	}

	.idea-text p:nth-child(2) {
		margin-bottom: 12vw;
	}

	.section.fourth {
		min-height: auto;
	}

	.succsessful-reg {
		font-style: 16px;
	}

	.error-text {
		font-size: 13px;
	}
}
